<h1>{{aboutPage}}</h1>
<div >
    <img src="/assets/Images/Products.jpg" alt="image1">
    <p>
        110 was started with three good friends and the vision to bring a large group of talented, savvy and committed people together to develop and deliver top notch service and expertise at a competitive price. Not only has 110 accomplished this endeavor, but we created a strong culture and fun environment for our employees and clients to continue to grow.</p>
    
<h2>Our Culture</h2>
    
    <img class="employees" src="/assets/Images/employees.jpg" alt="employees">
                     
<p>Our company culture is built on a foundation of client relationships and trust where we help ensure the best value, best service, and mutual respect for our clients and for ourselves. We operate in the world of business and technology using various technologies to increase productivity and present on-demand information, building from existing solutions as well as customize solutions to fit client needs.
    </p><p>
Our core competencies include all aspects of Staffing & Consulting, Marketing Services, Customer Relationship Management, Business Intelligence, Portals and Collaboration, and Application Development. 110 Consulting exceeds clients’ objectives by delivering what is promised on time and on budget.
    </p>
    
</div>