<h2>{{benefitsPage}}</h2>

<div>
   <img src="./assets/Images/benefits.jpg" alt="benefits" class="benefits">
    
     
    <p>
      
Working at Jay's Devops is a uniquely rewarding and empowering experience. At Jay's Devops, we’ve created a healthy working environment for our employees where they are treated with respect and supported in their professional and personal growth. The culture here is one of positivity and innovation. Our employees are extremely knowledgeable and passionate about what they do and we allow them to have the freedom and avenues to share their talents and experience with those it benefits most; their teams and clients.
    </p>
</div>