<h2>{{contactPage}}</h2>
 <h3>We look forward to hearing from you!</h3>
    <h4>Send us a message today!</h4>
    <h5>Fill in the details below</h5>

<div id="contactPage">
<form>
     <label>First Name </label>
    <input type="text"/><br>
     <label>Last Name </label>
    <input type="text"/><br>
     <label>Email </label>
    <input type="email"/><br>
     <label>Telephone </label>
    <input type="telephone"/><br>
     <label>Tell us how we can help you</label>
    <input type="text"/><br>
    <button class='submit' type="submit">Submit</button>
</form>

<img class='contactImg'src="./assets/Images/seattle%20(1).jpg" alt="seatle pic">


    
</div>

