<div>
    <img class="joinUs" src="./assets/Images/consulting.jpg" alt="join us image">
     <h2 class="joinUs_h2">{{joinpage}}</h2>
    <p>
        We look for professionals who are compelled by our values and who are passionate about leading client organizations through their biggest business initiatives. For us, it’s experience that makes the difference. Experience in industry, business, and life — because it’s all of these things in total that shape how people respond. Strong-Bridge consultants use every aspect of their lives to create success in their client relationships. If you’re one of those people, we’d like to hear from you.</p>
    
<button>Join Us</button>
<button>Search for jobs</button>
</div>